.cell_one {
	font-size: 26px;
	color:rgb(68,68,68);
	background-color: rgba(0, 0, 0, 0.06);
	border: 1px solid #888;
	height: 50px;
	width:99px;
	font-family: leagueGothicRegular;
	text-align: center;
	line-height: 50px;
	float:left;
	border-right:none;
}
.cell {
	font-size: 26px;
	border: 1px solid #888;
	height: 50px;
	width:99px;
	font-family: leagueGothicRegular;
	text-align: center;
	line-height: 50px;
	float:left;
	border-right:none;
	border-top:none;
}
.wld {
	width:48px;
}
.column_one {
	font-size:26px;
	background-color: rgba(0, 0, 0, 0.06);
	
}
.points {
	width:70px;
	border-right:1px solid #888;
}
.fade {
	background-color: rgba(0, 0, 0, 0.07);
}

.table_header {
	font-family: leagueGothicRegular;
	text-align: center;
	color: maroon;
	font-size: 30px;
}

#subheader_info {
	font-family: Arial;
	font-size: 11px;
	color: rgba(0, 0, 0, 0.73);
	float: right;
	margin-right: 40px;
	margin-top: 34px;
	text-align:right;
}