.column_data_one {
    width: 100%;
    border: 1px solid #888;
    height: 50px;
    line-height: 50px;
    text-align: center;
	border-top: 0;
	background-color: rgba(0, 0, 0, 0.04);
}

.column_data_one:first-child {
	border-top:1px solid #888;
	background-color: rgba(0, 0, 0, 0.04);
}

.column_data{
    width: 100%;
    border: 1px solid #888;
    height: 50px;
    line-height: 50px;
    text-align: center;
	border-top: 0;
	border-left:0;
}

.column_data:first-child {
	border-top:1px solid #888;
	background-color: rgba(0, 0, 0, 0.04);
}

.name {
	float:left;
	width:100px;
	border-right:1px solid #CCC;
}

.wins {
	float:left;
	width:70px;
	border-right:1px solid #CCC;
}

.losses {
	float:left;
	width:90px;
	border-right:1px solid #CCC;
}

.points {
	float:left;
	width:100px;
}

.row {
	clear:both;
	font-family:Arial;
	margin-left:40px;
	height:35px;
	line-height:35px;
	width:400px;
	text-align:center;
	background:rgba(255,255,255,0.2);
	border-bottom:1px solid #AAA;
}