.cell {
	height: 100%;
    width: 29px;
    float: left;
    border-left: 1px solid rgb(153,153,153);
}

.rhe {
	height: 100%;
    width: 24px;
    float: left;
    border-left: 1px solid rgb(153,153,153);
	color:rgba(0, 0, 0, 0.70);
}

.runs {
	font-weight:bold;
	background-color: rgba(0, 0, 0, 0.06);
}

.12pt {
	font-size:12px;
}
.spacer {
	height: 100%;
    width: 9px;
    float: left;
    border-left: 1px solid rgb(153,153,153);
}

.game {
	width: 400px;
    border: 5px solid rgba(190, 190, 190, 0.63);
    height: 130px;
    background-color: rgba(255, 255, 255, 0.37);
    padding-bottom: 2px;
    padding-right: 2px;
	float:left;
	margin-bottom: 15px;
}

.game li {
	font-family:Arial;	
	line-height: 29px;
	text-align: center;
	font-size: 14px;
}

.game li:first-child { text-align:left; }

.inner_div {
	width: 100%;
    height: 100%;
    border: 1px solid rgb(153, 153, 153);
}

.game_title {
	width: 100%;
	height: 30px;
	background: rgba(204, 204, 204, 0.28);
	border-bottom: 1px solid rgb(153,153,153);
	line-height: 30px; 
	font-family: Arial;
}

.box {
	height:70px;
}

.innings {
	font-family: Arial;
	text-align: center;
	font-size: 11px;
	line-height: 12px;
	height: 12px;
	border-bottom: 1px solid rgb(153,153,153);
}

.innings .cell {
    border-left:1px solid rgba(0,0,0,0);
	color:rgba(0, 0, 0, 0.70);
}

.team_one {
	height: 28.5px;
	border-bottom: 1px solid rgb(153,153,153);
}

.team_one  img{
	margin:3px;
	float:left;
}

.name{
	font-family: leagueGothicRegular;
	font-size: 20px;
	line-height: 29px;
}

.final_text {
	float: left;color: rgb(180, 0, 0);font-size: 15px;padding-left: 10px;font-weight: bold;
}

.wrap_text {
	float: right;padding-right: 10px;font-size: 12px;
}

#boys {
	width:499px;float:left;border-right:1px solid rgba(128, 128, 128, 0.38);
}

#girls {
	width:499px;
	float:left;
}

.team_name_container {
	height: 100%;width: 105px;float: left;
}

#tas { color: navy; }
#sas { color: maroon; }
#isb { color:  #888888; }
#ism { color: green; }
#iskl { color: #B8B000; }
#jis { color: #00526D; }
